

  $verde:#334d24;
  $branco:#fff;
  $cinzam:#c5c5c5;
  $cinzac:#eaeaea;
  $transparente:rgba(0,0,0,0);

  @font-face {
    font-family: 'troika';
    src: url("troika.otf") format("truetype");
  }

  body {
    font-family: 'Montserrat', sans-serif; 
    
  }
  html, #banner, #footer{
    background: $verde;
    color: $branco;
  }


.troika{
  font-family: 'Troika', 'Montserrat', sans-serif; 
    
}

