@import url(styles.scss);
#home .fa-solid {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--laranjae);
  mix-blend-mode: color-burn;
}
#home .card-title {
  font-weight: 700;
  color: var(--vermelho);
  margin-bottom: 0;
}
#home .card-text {
  color: var(--vermelho);
}
#home .card {
  height: 100%;
  background: none;
  border-color: var(--vermelho);
}
#home .card-footer {
  border-color: var(--vermelho);
  background-color: var(--vermelho);
}
#home .icone {
  max-width: 130px;
  mix-blend-mode: color-burn;
}
#home .icone-text {
  max-width: 160px;
  mix-blend-mode: color-burn;
}

#cardapio .height-184 {
  height: 184px;
}
#cardapio .card {
  height: 100%;
  background: none;
  border-color: var(--vermelho);
}
#cardapio .card-body, #cardapio .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 0.5rem 1rem;
}
#cardapio .card-title, #cardapio .card-subtitle {
  margin: 0;
  font-weight: 600;
}
#cardapio .card-title {
  color: var(--marrom);
}
#cardapio .card-subtitle {
  color: var(--laranjae);
  mix-blend-mode: color-burn;
}
#cardapio .card-footer {
  border-color: var(--vermelho);
}
#cardapio .card-text {
  margin-bottom: 0;
  margin-right: 10px;
}
#cardapio .preco::before {
  content: "R$";
  font-size: 80%;
}
#cardapio .btn-outline-primary {
  padding: 0.1rem 0.75rem;
}
#cardapio .quant:not(:disabled):not(.disabled).active, #cardapio .quant:not(:disabled):not(.disabled):active, .show > #cardapio .quant.dropdown-toggle, #cardapio .quant:hover {
  background-color: transparent;
  border-color: var(--laranja);
  color: var(--marrom);
  font-size: 100%;
}
#cardapio .small, #cardapio small {
  font-size: 0.8em;
}
#cardapio .carrinho {
  z-index: 99999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 35px;
  display: flex;
  align-items: end;
  background-color: var(--vermelho);
}
#cardapio .carrinho .carrinho-infos {
  padding: 0rem;
  opacity: 0;
  height: 50px;
  width: 0px;
  transition: 0.3s all ease-in-out;
}
#cardapio .carrinho .carrinho-infos .total, #cardapio .carrinho .carrinho-infos .preco {
  transform: scale(0, 0);
}
#cardapio .carrinho .carrinho-infos .total {
  border-bottom: 2px solid;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cardapio .carrinho .carrinho-infos .total .atualizar {
  font-size: 1.4rem;
  transition: 0.3s all ease-in-out;
}
#cardapio .carrinho .carrinho-infos .total .atualizar:hover {
  transform: rotate(30deg);
}
#cardapio .carrinho .carrinho-infos .total .atualizar:active {
  transform: rotate(360deg);
}
#cardapio .carrinho .carrinho-infos.show {
  padding: 1.5rem;
  opacity: 1;
  height: auto;
  width: auto;
}
#cardapio .carrinho .carrinho-infos.show .total, #cardapio .carrinho .carrinho-infos.show .preco {
  transform: scale(1, 1);
}
#cardapio .carrinho .btn {
  border-radius: 35px;
  height: 70px;
  width: 70px;
  font-size: 1.5rem;
}
#cardapio .carrinho .btn:hover {
  font-size: 1.4rem;
}

#doe .card-text {
  color: var(--marrom);
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  background: none;
  border: none;
  resize: none;
  display: inline;
  height: 30px;
}
#doe .copy-html.success::before {
  content: "Pix copiado com sucesso!" !important;
  padding: 0 10px;
}

#laudes .space {
  height: 72px;
}
#laudes .icone {
  max-width: 130px;
  mix-blend-mode: color-burn;
}
#laudes .icone-text {
  max-width: 160px;
  mix-blend-mode: color-burn;
}
#laudes #tabs {
  background: var(--vermelho);
  position: fixed;
  top: 55px;
  width: 100%;
  z-index: 100;
}
#laudes #tabs .shadow {
  position: relative;
}
#laudes #tabs .shadow:after {
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#52001f+0,52001f+100&0+0,1+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, transparent 0%, var(--vermelho) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
}
#laudes #tabs .nav {
  flex-flow: nowrap;
  overflow: scroll;
}
#laudes #tabs .nav-link {
  color: var(--branco);
  white-space: nowrap;
}
#laudes #tabs .nav-link.active {
  background: var(--laranja);
  border: var(--laranja);
}
#laudes .texto {
  margin: auto;
  padding: 1.5rem 2rem;
  padding-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  background: white;
  border-radius: 0.3rem;
}
#laudes .texto p {
  color: var(--laranja);
}
#laudes .texto p span {
  color: var(--vermelho);
}
#laudes .title {
  font-weight: 800;
  text-align: center;
}
#laudes .subtitle {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
}
#laudes hr {
  border: 1px solid var(--laranja);
  z-index: -1;
}

#dados #navbar-dados .navbar-brand img {
  height: 80px;
}
@media (max-width: 992px) {
  #dados #navbar-dados .navbar-brand img {
    height: 42px;
  }
}
@media (max-width: 992px) {
  #dados #navbar-dados .navbar-brand {
    margin: auto;
  }
}
#dados #navbar-dados .nav-item {
  text-align: end;
}
#dados #navbar-dados .nav-item .nav-link {
  display: inline-flex;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--branco);
  color: var(--branco) !important;
  transition: 0.3s all ease-in-out;
  margin: 0 5px;
}
#dados #navbar-dados .nav-item .nav-link:hover {
  border: 1px solid var(--laranja);
  filter: none;
}
#dados #navbar-dados .nav-item .nav-link.active {
  background: var(--marrom);
  border: 1px solid var(--marrom);
  color: var(--branco);
}
#dados .height-106 {
  height: 106px;
}
#dados .titulo-dados {
  z-index: -1;
  position: relative;
}
#dados .py-2rem {
  padding: 2rem 0;
}
@media (max-width: 370px) {
  #dados .nav-link {
    padding: 0.35rem 0.5rem;
  }
}
#dados .titulo-dia {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--branco);
  font-weight: 800;
}
#dados .descricao {
  color: var(--branco);
  margin: 0;
}
#dados .btn-outline-secondary {
  border: 1px solid var(--laranja);
  color: var(--laranja);
  transition: 0.3s all ease-in-out;
  margin: 0 5px;
}
#dados .btn-outline-secondary:hover {
  color: var(--branco);
}
#dados .btn-outline-secondary.active {
  background: var(--laranja);
  color: var(--branco);
}
#dados .scroll {
  overflow-x: scroll;
}
#dados .card {
  max-width: 605px !important;
  margin: auto;
}
#dados .card .tab-pane {
  overflow-x: scroll;
  text-align: center;
}
#dados .card .nav-item {
  width: 50%;
}
#dados .card .nav-item .nav-link {
  background-color: var(--transparente);
  width: 100%;
  color: var(--laranja);
  font-weight: bold;
  border-radius: 0;
  border-bottom: 2px solid var(--transparente);
  transition: 0.3s all ease-in-out;
}
#dados .card .nav-item .nav-link.active {
  color: var(--marrom);
  background-color: var(--transparente);
  border-bottom: 2px solid var(--marrom) !important;
}
#dados .card .nav-item .nav-link:hover {
  border-bottom: 2px solid var(--laranja);
}
#dados .dados h1, #dados .dados h2, #dados .dados h3, #dados .dados h4, #dados .dados h5, #dados .dados h6 {
  margin: 0;
}
#dados .dados .icon {
  width: 68px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
}
#dados .dados .icon .fa-solid {
  font-size: 4.25rem;
  color: var(--marrom);
}
#dados .dados .pequeno {
  font-size: 90%;
}
#dados .dados .pequeno i {
  font-size: 70%;
  margin-right: 0.25rem;
}
#dados .dados h5 {
  color: var(--laranjae);
  border-bottom: 2px solid var(--laranjae);
  padding-left: 32.35px;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}
#dados .dados .small, #dados .dados small {
  font-size: 0.75em;
}
#dados .dados p.vermelho i {
  color: var(--marrom) !important;
}
#dados .dados li span, #dados .dados .small span {
  color: var(--laranjae);
}
#dados .dados li::marker {
  color: var(--marrom);
}/*# sourceMappingURL=style-pages.css.map */