@import url(styles.scss);

  $azul:var(--azul);
  $azule:var(--azule);
  $amarelo:var(--amarelo);
  $amareloc:var(--amareloc);
  $branco:var(--branco);
  $cinzac:var(--cinzac);
  $cinzam:var(--cinzam);
  $cinza:var(--cinza);
  $preto:var(--preto);
  $transparente:var(--transparente);

  #home{
    .fa-solid{
      font-size: 3rem;
      margin-right: 1rem;
    }
  }
  #cardapio{

    .height-184{
      height: 184px;
    }
    .card{
      height: 100%;
    }
    .card-body, .card-footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: start;
    }
    .card-title, .card-subtitle{
      margin: 0;

    }
    .card-text{
      margin-bottom: 0;
      margin-right: 10px;
    }
    .preco{

      &::before{
        content: "R$";
        font-size: 80%;
      }
    }

    .quant{
      line-height: 2.25rem;

      &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle, &:hover{
        background-color: transparent;
        border-color: $azul;
        color: $amarelo;
        font-size: 100%;
      }
    }
    

    .carrinho{
      z-index: 99999;
      position: fixed;
      bottom: 30px;
      right: 30px;
      border-radius: 35px;
      display: flex;
      align-items: end;
      background-color: $amareloc;

      .carrinho-infos{
        padding: 0rem;
        opacity: 0;
        height: 50px;
        width: 00px;
        transition: .3s all ease-in-out;

        .total, .preco{
          transform: scale(0 , 0);
        }
        .total{
          border-bottom: 2px solid;
          padding-bottom: 0.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .atualizar{
            font-size: 1.4rem;
            transition: .3s all ease-in-out;
            &:hover{
              transform: rotate(30deg);
            }
            &:active{
              transform: rotate(360deg);
            }
          }
        }

        &.show{
          padding: 1.5rem;
          opacity: 1;
          height: auto;
          width: auto;

          .total, .preco{
            transform: scale(1 , 1);
          }
        }
      }

      .btn{
        border-radius: 35px;
        height: 70px;
        width: 70px;
        font-size: 1.5rem;

        &:hover{
          font-size: 1.4rem;
        }
      }
    }
  }

  #doe{

    .card-text{

      color: $amarelo;
      user-select: all;
      background: none;
      border: none;
      resize: none;
      display: inline;
      height: 30px;
    }

    .copy-html{
      &.success::before {
        content: 'Pix copiado com sucesso!'!important;
        padding: 0 10px;
    }
    }

  }

  #dados{
    #navbar-dados{
      .navbar-brand{
        img{
          height: 80px;
          @media (max-width:992px) {
            height: 42px;
          }
        }
        @media (max-width:992px) {
          margin: auto;
        }
      }
      .nav-item{
        text-align: end;
        .nav-link{
          display: inline-flex;
          padding: .375rem .75rem;

          border:1px solid $branco;
          color: $branco!important;
          transition: .3s all ease-in-out;
          margin: 0 5px;

          &:hover{
            border:1px solid $azul;
            filter:none;
          }
          &.active{
            background: $amarelo;
            border:1px solid $amarelo;
            color: $branco;
          }
        }
      }
    }
    .height-106{
      height: 106px;
    }
    .titulo-dados{
      z-index: -1;
      position: relative;
    }
    .py-2rem{
      padding: 2rem 0;
    }
    .nav-link{
      @media (max-width:370px) {
        padding: 0.35rem 0.5rem;
      }
    }
    .titulo-dia{
      padding-bottom: 1rem;
      border-bottom: 2px solid $branco;
      font-weight: 800;
    }
    .descricao{
      color: $branco;
      margin: 0;
    }
    .btn-outline-secondary{
      border:1px solid $azul;
      color: $azul;
      transition: .3s all ease-in-out;
      margin: 0 5px;

      &:hover{
        color: $branco;
      }
      &.active{
        background: $azul;
        color: $branco;
      }
    }
    .scroll{
      overflow-x: scroll;
    }
    .card{
        max-width: 605px!important;
        margin: auto;
      .tab-pane{
        overflow-x: scroll;
        text-align: center;
      }
      .nav-item{
        width: 50%;

        .nav-link{
          background-color: $transparente;
          width: 100%;
          color: $azul;
          font-weight: bold;
          border-radius: 0;
          border-bottom: 2px solid $transparente;
          transition: .3s all ease-in-out;


          &.active{
            color: $amarelo;
            background-color: $transparente;
            border-bottom: 2px solid $amarelo!important;
          }
          &:hover{
            border-bottom: 2px solid $azul;
          }
        }
      }
     
      
    }

    .dados{
      h1,h2,h3,h4,h5,h6{
        margin: 0;
      }
      .icon{
        width: 68px;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        .fa-solid{
          font-size: 4.25rem;
          
          color: $amarelo;
        }
      }

      .pequeno{
        font-size: 90%;

        i{
          font-size: 70%;
          margin-right: 0.25rem;
        }
      }

      h5{
        color: $azule;
        border-bottom: 2px solid $azule;
        padding-left: 32.35px;
        padding-bottom: .25rem;
        margin-bottom: .5rem;
      }
      .small, small {
        font-size: .75em;
      }
      p.amareloc{
        i{
          color: $amarelo!important;
        }
      }
      li, .small{
        span{
          color: $azule;
        }
      }
      
      li::marker{
        color: $amarelo;
      }
    }
  }