@import url(styles.scss);

$azul:var(--azul);
  $amarelo:var(--amarelo);
  $amareloc:var(--amareloc);
  $branco:var(--branco);
  $cinzac:var(--cinzac);
  $cinzam:var(--cinzam);
  $cinza:var(--cinza);
  $preto:var(--preto);
  $transparente:var(--transparente);


  #cardapio{

    .card{
      height: 100%;
    }
    .card-text{
      margin: 0;
    }
    .card-footer{
      display: flex;
      justify-content: space-between;

      .quant{
        line-height: 2rem;

        &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle, &:hover{
          background-color: transparent;
          border-color: $azul;
          color: $amarelo;
          font-size: 100%;
        }
      }
      .card-subtitle{
        margin: 0;
      }
    }
    .preco{

      &::before{
        content: "R$";
        font-size: 80%;
      }
    }

    .carrinho{
      z-index: 99999;
      position: fixed;
      bottom: 30px;
      right: 30px;
      .btn{
        border-radius: 100px;
        height: 70px;
        width: 70px;
        font-size: 1.5rem;

        &:hover{
          font-size: 1.4rem;
        }
      }
    }
  }

  #doe{

    .card-text{

      color: $amarelo;
      user-select: all;
      background: none;
      border: none;
      resize: none;
      display: inline;
      height: 30px;
    }

    .copy-html{
      &.success::before {
        content: 'Pix copiado com sucesso!'!important;
        padding: 0 10px;
    }
    }

  }