@import url(styles.scss);

$azul:var(--azul);
  $amarelo:var(--amarelo);
  $amareloc:var(--amareloc);
  $branco:var(--branco);
  $cinzac:var(--cinzac);
  $cinzam:var(--cinzam);
  $cinza:var(--cinza);
  $preto:var(--preto);
  $transparente:var(--transparente);

