@import url(styles.scss);

$azul:var(--azul);
  $amarelo:var(--amarelo);
  $amareloc:var(--amareloc);
  $branco:var(--branco);
  $cinzac:var(--cinzac);
  $cinzam:var(--cinzam);
  $cinza:var(--cinza);
  $preto:var(--preto);
  $transparente:var(--transparente);

  #home{
    .fa-solid{
      font-size: 3rem;
      margin-right: 1rem;
    }
  }
  #cardapio{

    .height-184{
      height: 184px;
    }
    .card{
      height: 100%;
    }
    .card-body, .card-footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: start;
    }
    .card-title, .card-subtitle{
      margin: 0;

    }
    .card-text{
      margin-bottom: 0;
      margin-right: 10px;
    }
    .preco{

      &::before{
        content: "R$";
        font-size: 80%;
      }
    }

    .quant{
      line-height: 2.25rem;

      &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle, &:hover{
        background-color: transparent;
        border-color: $azul;
        color: $amarelo;
        font-size: 100%;
      }
    }
    

    .carrinho{
      z-index: 99999;
      position: fixed;
      bottom: 30px;
      right: 30px;
      border-radius: 35px;
      display: flex;
      align-items: end;
      background-color: $amareloc;

      .carrinho-infos{
        padding: 0rem;
        opacity: 0;
        height: 50px;
        width: 00px;
        transition: .3s all ease-in-out;

        .total, .preco{
          transform: scale(0 , 0);
        }
        .total{
          border-bottom: 2px solid;
          padding-bottom: 0.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .atualizar{
            font-size: 1.4rem;
            transition: .3s all ease-in-out;
            &:hover{
              transform: rotate(30deg);
            }
            &:active{
              transform: rotate(360deg);
            }
          }
        }

        &.show{
          padding: 1.5rem;
          opacity: 1;
          height: auto;
          width: auto;

          .total, .preco{
            transform: scale(1 , 1);
          }
        }
      }

      .btn{
        border-radius: 35px;
        height: 70px;
        width: 70px;
        font-size: 1.5rem;

        &:hover{
          font-size: 1.4rem;
        }
      }
    }
  }

  #doe{

    .card-text{

      color: $amarelo;
      user-select: all;
      background: none;
      border: none;
      resize: none;
      display: inline;
      height: 30px;
    }

    .copy-html{
      &.success::before {
        content: 'Pix copiado com sucesso!'!important;
        padding: 0 10px;
    }
    }

  }

  #dados{

    .height-144{
      height: 144px;
      z-index: -1;
      position: relative;
    }

    .titulo-dia{
      padding-bottom: 1rem;
      border-bottom: 2px solid $branco;
      font-weight: 800;
    }
    .card{
      overflow-x: scroll;
    }
    .chegada{
      max-width: 629px!important;
      margin: auto;
    }
  }