@font-face {
    font-family: 'Made Okine';
    src: url('made_okine/MADEOkineSans-Thin.otf') format('otf');
    font-weight: 300;
    font-style: thin;
}

@font-face {
    font-family: 'Made Okine';
    src: url('made_okine/MADEOkineSans-Light.otf') format('otf');
    font-weight: 400;
    font-style: light;
}

@font-face {
    font-family: 'Made Okine';
    src: url('made_okine/MADEOkineSans-Regular.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Made Okine';
    src: url('made_okine/MADEOkineSans-Medium.otf') format('otf');
    font-weight: 600;
    font-style: medium;
}

@font-face {
    font-family: 'Made Okine';
    src: url('made_okine/MADEOkineSans-Bold.otf') format('otf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Made Okine';
    src: url('made_okine/MADEOkineSans-Black.otf') format('otf');
    font-weight: 900;
    font-style:black;
}

@font-face {
    font-family: 'Vanroot';
    src: url('VANROTT.otf') format('otf');
    font-weight: 500;
    font-style:normal;
}

@font-face {
    font-family: 'Aubrey';
    src: url('AUBREY.TTF') format('ttf');
    font-weight: 500;
    font-style:normal;
}
